@import "./utils/variables";
@import "./utils/utils";

@import "./vendors/bootsrap";

@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Regular.ttf);
}

// @import "./layout/navigation";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";

@import "./components/buttons";
// @import "./components/carousel";
// @import "./components/cover";
@import "./components/dropdown";
@import "./components/slider";

@import "./pages/home";
// @import "./pages/contact";

@import "./theme/theme";
// @import "./themes/admin";

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
  width: 100vw !important;
  overflow-x: hidden;
}

.wrapper-page {
  position: relative;
}
