@import "utils/variables";

@import "./vendors/bootsrap";

@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Regular.ttf);
}

// @import "./layout/navigation";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";

@import "./components/buttons";
// @import "./components/carousel";
// @import "./components/cover";
@import "./components/dropdown";
@import "./components/slider";

@import "./pages/home";
// @import "./pages/contact";

@import "./theme/theme";
// @import "./themes/admin";

body {
  font-family: popins;
}
