@import "calend/dist/styles/index.css"; // import styles

@import "./utils/variables";
@import "./utils/utils";

@import "./vendors/bootsrap";

@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-Regular.ttf);
}

// @import "./layout/navigation";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";

@import "./components/buttons";
// @import "./components/carousel";
// @import "./components/cover";
@import "./components/dropdown";
@import "./components/slider";
@import "./components/single-line";

@import "./pages/home";
@import "./pages/calendar";
@import "./pages/privacy";

@import "./theme/theme";
// @import "./themes/admin";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  width: 100vw !important;
  overflow-x: hidden;
  background-color: #f7f7f7;
}
