.pages-wrapper {
  position: relative;
}

.pages {
  background-color: #f7f7f7;
  margin-top: 88px;
  position: absolute;
  width: 100%;
  z-index: 3;
  > :after {
    position: absolute;
    content: "";
    bottom: -298px;
    height: 40px;
    width: 1px;
  }
}

.text-color-blue {
  color: $medium-blue;
}

.text-color-yellow {
  color: $yellow;
}

@media (max-width: 991px) {
  .pages {
    :after {
      bottom: -371px;
    }
  }
}

@media (max-width: 767px) {
  .pages {
    :after {
      bottom: -579.5px;
    }
  }
}

@media (max-width: 367px) {
  .pages {
    :after {
      bottom: -646.5px;
    }
  }
}
